<table mat-table [dataSource]="dataSource" style="width: 100%;">

  <!-- name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nom </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- marque Column -->
  <ng-container matColumnDef="marque">
    <th mat-header-cell *matHeaderCellDef> Marque </th>
    <td mat-cell *matCellDef="let element"> {{element.marque}} </td>
  </ng-container>

  <!-- categorie Column -->
  <ng-container matColumnDef="categorie">
    <th mat-header-cell *matHeaderCellDef> Categorie </th>
    <td mat-cell *matCellDef="let element"> {{element.categorie}} </td>
  </ng-container>

  <!-- type Column -->
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> Type </th>
    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
  </ng-container>

  <!-- genre Column -->
  <ng-container matColumnDef="genre">
    <th mat-header-cell *matHeaderCellDef> Genre </th>
    <td mat-cell *matCellDef="let element"> {{element.genre}} </td>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>  </th>
    <td mat-cell *matCellDef="let element" class="action-link">
      <a (click)="openDialog(element)">afficher</a>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
