<h1 mat-dialog-title>Détail </h1>
<div mat-dialog-content>
<table mat-table [dataSource]="dataSource" style="width: 100%;">

  <!-- categorie Column -->
  <ng-container matColumnDef="prix">
    <th mat-header-cell *matHeaderCellDef> Prix de vente </th>
    <td mat-cell *matCellDef="let element"> {{element['variant'].prixVente}} </td>
  </ng-container>


  <!-- taille Column -->
  <ng-container matColumnDef="taille">
    <th mat-header-cell *matHeaderCellDef> Taille </th>
    <td mat-cell *matCellDef="let element"> {{element['stock'].taille}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="acheter()">Acheter</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Fermer</button>
</div>
